/src/config
/testsuite/testlog*.txt
/testsuite/work
/src/helgrind.log
/src/valgrind.log
/src/libt3widgetlog.txt
/src/libt3window.log
/src/.recordings
/src/record
/src/t3widget
/src/t3window
/src/t3unicode
/src/t3config
/src/t3highlight
/src/transcript
/src/log.txt
.objects/
.deps/
.libs/
/testsuite/mockdir/mockdir_test
/testsuite/mockdir/libmockdir.la
