config_version = 1
%lang {
	name = "C++"
	line_comment = "//"
}
%lang {
	name = "C"
	line_comment = "//"
}
%lang {
	name = "LLgen"
	line_comment = "//"
}
%lang {
	name = "Java"
	line_comment = "//"
}
%lang {
	name = "Shell"
	line_comment = "#"
}
%lang {
	name = "Python"
	line_comment = "#"
}
%lang {
	name = "Python 3"
	line_comment = "#"
}
%lang {
	name = "Perl"
	line_comment = "#"
}
%lang {
	name = "JavaScript"
	line_comment = "//"
}
%lang {
	name = "T3 Highlight Language Definition"
	line_comment = "#"
}
%lang {
	name = "Makefile"
	line_comment = "#"
}
